<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %}

      <div class="site-info">
        <a href="/">
          <img src="/images/HeaderNavName.png" alt="Lindsey Scales" />
        </a>
      </div>

      <nav class="nav">
        {% for nav in site.navigation %}
        {% if nav.url contains 'http://' or nav.url contains 'https://' %}
        <a class="square" href="{{ nav.url }}">
          <div class="outline--nav-hover">
            {{ nav.name }}
          </div>
        </a>
        {% else %}
        <a class="square" href="{{ site.baseurl }}{{ nav.url }}">
          <div class="outline--nav-hover">
            {{ nav.name }}
          </div>
        </a>
        {% endif %}
        {% endfor %}
      </nav>
    </header>
  </div>
</div>