// Grid

.grid {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $spacing-xxl;

  @include mobile {
    flex-direction: column;
  }

  &__block {
    &:not(:last-child) {
      margin-right: $spacing-xxl;
    }

    @include mobile {
      margin-bottom: $spacing-xxl;
    }
  }
}