// Grid

.grid {
  align-items: center;
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
  }

  &__row {
    display: block;
    margin-bottom: $spacing-xxl;
  }

  &__block {
    &:not(:last-child) {
      margin-right: $spacing-xxl;
    }

    @include mobile {
      margin-bottom: $spacing-xxl;
      margin-right: 0 !important;
    }
  }
}