// Grid

.grid {
  align-items: center;
  display: flex;
  justify-content: center;

  &__block {
    &:not(:last-child) {
      margin-bottom: $spacing-xl;
      margin-right: $spacing-xl;
    }

    &--2 {
      flex-basis: 50%;
    }

    &--4 {
      flex-basis: 25%;
    }
  }
}