// Helpers

.h-no-margin-bottom {
  margin-bottom: 0 !important; // theme override
}

// Responsive

.h-mobile-hide {
  @include mobile {
    display: none;
  }
}

.h-mobile-show {
  display: none;

  @include mobile {
    display: block;
  }
}