// Images

img {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  max-width: none !important;

  @include mobile {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.img--about {
  filter: grayscale(50%);
  height: 305px;
  width: 245px;
}

.img--grayscale {
  filter: grayscale(80%);
}