// Images

img {
  border-radius: 0 !important;
  margin-bottom: 0 !important;

  @include mobile {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.img--about {
  filter: grayscale(50%);
  height: 80%;
  width: 80%;
}

.img--grayscale {
  filter: grayscale(80%);
}