// Images

img {
  margin-bottom: 0 !important;
}

.img--about {
  filter: grayscale(50%);
  height: 80%;
  width: 80%;

  @include mobile {
    margin-left: auto;
    margin-right: auto;
  }
}

.img--work {
  filter: grayscale(80%);
}