.nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 0 !important; // theme override
  width: 100%;

  @include mobile {
    justify-content: center;
    margin-top: $spacing-lg !important;
  }
}

.masthead {
  align-items: center;
  border-bottom: 2px solid $darkBlue !important; // theme override
  display: flex;

  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
}