// Shapes

.square {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.outline {
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  // width: 264px;
  // height: 264px;
  backface-visibility: hidden;
  box-shadow: 0 0 0 2px $blue;
  content: "";
  z-index: 1;
}