// Shapes

.square {
  align-items: center;
  background-color: $black;
  color: $white !important; // override link style
  display: flex;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 100px;

  &:hover {
    color: $white !important;
  }
}

.outline {
  backface-visibility: hidden;
  box-shadow: 0 0 0 4px $blue;
  content: "";
  display: block;
  height: 315px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 255px;
  z-index: 1;
}

@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, $clip-size, $path-width, 0px);
  }
  25% {
    clip: rect(0px, $path-width, $clip-size, 0px);
  }
  50% {
    clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px);
  }
  75% {
    clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width);
  }
}

.outline--nav-hover:hover,
.outline--nav-hover:active {
  &::before,
  &::after {
    animation: clipMe $anime-time linear infinite;
    animation-delay: -2s;
    bottom: 0;
    box-shadow: inset 0 0 0 $path-width $main-color;
    content: "";
    left: 0;
    margin: -5px;
    position: absolute;
    right: 0;
    top: 0;
  }
}