// Shapes

.square {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.outline {
  backface-visibility: hidden;
  box-shadow: 0 0 0 4px $blue;
  content: "";
  display: block;
  height: 315px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 255px;
  z-index: 1;
}