// Wrappers and Containers

.container {
  max-width: 1024px !important; // override
}

.view-wrapper {
  min-height: 50vh;

  @include mobile {
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
  }

  &--flex {
    align-items: center;
    display: flex;
    justify-content: center;

    @include mobile {
      display: block;
    }
  }
}

.wrapper-footer {
  border-top: 2px solid $darkBlue !important;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}