// Wrappers and Containers

.container {
  max-width: 1024px !important; // override
}

.view-wrapper {
  min-height: 50vh;

  @include mobile {
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
  }

  &--flex {
    display: flex;

    @include mobile {
      display: block;
    }
  }
}